//color

$light: #fff;
$black: #000;
$transparent: rgba(255, 255, 255, 0);
$primary: #E75624;
$secondary: #808080;
$third: #F7CF0D;
$dark: #333333;


// anim
$anim-function: cubic-bezier(.65,.05,.36,1);
