
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}

.main {
    flex: 1 0 auto;
}

.container {
    $padding: 30px;
    max-width: 1216px + $padding * 2;
    width: 100%;
    padding-left: $padding;
    padding-right: $padding;
    margin: auto;
}

.row {
    display: flex;
    justify-content: space-between;
}

.icon {
    fill: currentColor;
    line-height: 0;
    &__stroke {
        stroke: currentColor;
        fill: $transparent;
    }
}